<div class="back" routerLink="../">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
</div>

<!-- //Politica -->
<mat-card class="mt-6">
  <h1>POLÍTICA DE PRIVACIDAD DEL SITIO WEB</h1>
  <h3>www.fut-data.com</h3>
  <h2>I. POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS</h2>

  Respetando lo establecido en la legislación vigente, Fut-Data (en adelante,
  también Sitio Web) se compromete a adoptar las medidas técnicas y
  organizativas necesarias, según el nivel de seguridad adecuado al riesgo de
  los datos recogidos.

  <h3>Leyes que incorpora esta política de privacidad</h3>

  Esta política de privacidad está adaptada a la normativa española y europea
  vigente en materia de protección de datos personales en internet. En concreto,
  la misma respeta las siguientes normas: El Reglamento (UE) 2016/679 del
  Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la
  protección de las personas físicas en lo que respecta al tratamiento de datos
  personales y a la libre circulación de estos datos (RGPD). La Ley Orgánica
  3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los
  derechos digitales (LOPD-GDD). El Real Decreto 1720/2007, de 21 de diciembre,
  por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999,
  de 13 de diciembre, de Protección de Datos de Carácter Personal (RDLOPD). La
  Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y
  de Comercio Electrónico (LSSI-CE).

  <h3>Identidad del responsable del tratamiento de los datos personales</h3>
  Dirección: Barcelona Teléfono de contacto: 650979610 Email de contacto:
  alexperis95@gmail.com

  <h3>Registro de Datos de Carácter Personal</h3>

  En cumplimiento de lo establecido en el RGPD y la LOPD-GDD, le informamos que
  los datos personales recabados por Fut-Data, mediante los formularios
  extendidos en sus páginas quedarán incorporados y serán tratados en nuestro
  fichero con el fin de poder facilitar, agilizar y cumplir los compromisos
  establecidos entre Fut-Data y el Usuario o el mantenimiento de la relación que
  se establezca en los formularios que este rellene, o para atender una
  solicitud o consulta del mismo. Asimismo, de conformidad con lo previsto en el
  RGPD y la LOPD-GDD, salvo que sea de aplicación la excepción prevista en el
  artículo 30.5 del RGPD, se mantine un registro de actividades de tratamiento
  que especifica, según sus finalidades, las actividades de tratamiento llevadas
  a cabo y las demás circunstancias establecidas en el RGPD.

  <h3>Principios aplicables al tratamiento de los datos personales</h3>

  El tratamiento de los datos personales del Usuario se someterá a los
  siguientes principios recogidos en el artículo 5 del RGPD y en el artículo 4 y
  siguientes de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de
  Datos Personales y garantía de los derechos digitales:

  <ul>
    <li>
      Principio de licitud, lealtad y transparencia: se requerirá en todo
      momento el consentimiento del Usuario previa información completamente
      transparente de los fines para los cuales se recogen los datos personales.
    </li>
    <li>
      Principio de limitación de la finalidad: los datos personales serán
      recogidos con fines determinados, explícitos y legítimos.
    </li>
    <li>
      Principio de minimización de datos: los datos personales recogidos serán
      únicamente los estrictamente necesarios en relación con los fines para los
      que son tratados.
    </li>
    <li>
      Principio de exactitud: los datos personales deben ser exactos y estar
      siempre actualizados.
    </li>
    <li>
      Principio de limitación del plazo de conservación: los datos personales
      solo serán mantenidos de forma que se permita la identificación del
      Usuario durante el tiempo necesario para los fines de su tratamiento.
    </li>
    <li>
      Principio de integridad y confidencialidad: los datos personales serán
      tratados de manera que se garantice su seguridad y confidencialidad.
    </li>
    <li>
      Principio de responsabilidad proactiva: el Responsable del tratamiento
      será responsable de asegurar que los principios anteriores se cumplen.
    </li>
  </ul>

  <h3>Categorías de datos personales</h3>
  Las categorías de datos que se tratan en Fut-Data son únicamente datos
  identificativos. En ningún caso, se tratan categorías especiales de datos
  personales en el sentido del artículo 9 del RGPD.

  <h3>Base legal para el tratamiento de los datos personales</h3>
  La base legal para el tratamiento de los datos personales es el
  consentimiento. Fut-Data se compromete a recabar el consentimiento expreso y
  verificable del Usuario para el tratamiento de sus datos personales para uno o
  varios fines específicos. El Usuario tendrá derecho a retirar su
  consentimiento en cualquier momento. Será tan fácil retirar el consentimiento
  como darlo. Como regla general, la retirada del consentimiento no condicionará
  el uso del Sitio Web. En las ocasiones en las que el Usuario deba o pueda
  facilitar sus datos a través de formularios para realizar consultas, solicitar
  información o por motivos relacionados con el contenido del Sitio Web, se le
  informará en caso de que la cumplimentación de alguno de ellos sea obligatoria
  debido a que los mismos sean imprescindibles para el correcto desarrollo de la
  operación realizada.

  <h3>Fines del tratamiento a que se destinan los datos personales</h3>
  Los datos personales son recabados y gestionados por Fut-Data con la finalidad
  de poder facilitar, agilizar y cumplir los compromisos establecidos entre el
  Sitio Web y el Usuario o el mantenimiento de la relación que se establezca en
  los formularios que este último rellene o para atender una solicitud o
  consulta. Igualmente, los datos podrán ser utilizados con una finalidad
  comercial de personalización, operativa y estadística, y actividades propias
  del objeto social de Fut-Data, así como para la extracción, almacenamiento de
  datos y estudios de marketing para adecuar el Contenido ofertado al Usuario,
  así como mejorar la calidad, funcionamiento y navegación por el Sitio Web. En
  el momento en que se obtengan los datos personales, se informará al Usuario
  acerca del fin o fines específicos del tratamiento a que se destinarán los
  datos personales; es decir, del uso o usos que se dará a la información
  recopilada.

  <h3>Períodos de retención de los datos personales</h3>
  Los datos personales solo serán retenidos durante el tiempo mínimo necesario
  para los fines de su tratamiento y, en todo caso, únicamente durante el
  siguiente plazo: 12, o hasta que el Usuario solicite su supresión. En el
  momento en que se obtengan los datos personales, se informará al Usuario
  acerca del plazo durante el cual se conservarán los datos personales o, cuando
  eso no sea posible, los criterios utilizados para determinar este plazo.

  <h3>Destinatarios de los datos personales</h3>
  Los datos personales del Usuario no serán compartidos con terceros. En
  cualquier caso, en el momento en que se obtengan los datos personales, se
  informará al Usuario acerca de los destinatarios o las categorías de
  destinatarios de los datos personales.

  <h3>Datos personales de menores de edad</h3>
  Respetando lo establecido en los artículos 8 del RGPD y 7 de la Ley Orgánica
  3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los
  derechos digitales, solo los mayores de 14 años podrán otorgar su
  consentimiento para el tratamiento de sus datos personales de forma lícita por
  Fut-Data. Si se trata de un menor de 14 años, será necesario el consentimiento
  de los padres o tutores para el tratamiento, y este solo se considerará lícito
  en la medida en la que los mismos lo hayan autorizado.

  <h3>Secreto y seguridad de los datos personales</h3>
  Fut-Data se compromete a adoptar las medidas técnicas y organizativas
  necesarias, según el nivel de seguridad adecuado al riesgo de los datos
  recogidos, de forma que se garantice la seguridad de los datos de carácter
  personal y se evite la destrucción, pérdida o alteración accidental o ilícita
  de datos personales transmitidos, conservados o tratados de otra forma, o la
  comunicación o acceso no autorizados a dichos datos. Sin embargo, debido a que
  Fut-Data no puede garantizar la inexpugabilidad de internet ni la ausencia
  total de hackers u otros que accedan de modo fraudulento a los datos
  personales, el Responsable del tratamiento se compromete a comunicar al
  Usuario sin dilación indebida cuando ocurra una violación de la seguridad de
  los datos personales que sea probable que entrañe un alto riesgo para los
  derechos y libertades de las personas físicas. Siguiendo lo establecido en el
  artículo 4 del RGPD, se entiende por violación de la seguridad de los datos
  personales toda violación de la seguridad que ocasione la destrucción, pérdida
  o alteración accidental o ilícita de datos personales transmitidos,
  conservados o tratados de otra forma, o la comunicación o acceso no
  autorizados a dichos datos. Los datos personales serán tratados como
  confidenciales por el Responsable del tratamiento, quien se compromete a
  informar de y a garantizar por medio de una obligación legal o contractual que
  dicha confidencialidad sea respetada por sus empleados, asociados, y toda
  persona a la cual le haga accesible la información.

  <h3>Derechos derivados del tratamiento de los datos personales</h3>
  El Usuario tiene sobre Fut-Data y podrá, por tanto, ejercer frente al
  Responsable del tratamiento los siguientes derechos reconocidos en el RGPD y
  la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y
  garantía de los derechos digitales: Derecho de acceso: Es el derecho del
  Usuario a obtener confirmación de si Fut-Data está tratando o no sus datos
  personales y, en caso afirmativo, obtener información sobre sus datos
  concretos de carácter personal y del tratamiento que Fut-Data haya realizado o
  realice, así como, entre otra, de la información disponible sobre el origen de
  dichos datos y los destinatarios de las comunicaciones realizadas o previstas
  de los mismos. Derecho de rectificación: Es el derecho del Usuario a que se
  modifiquen sus datos personales que resulten ser inexactos o, teniendo en
  cuenta los fines del tratamiento, incompletos. Derecho de supresión ("el
  derecho al olvido"): Es el derecho del Usuario, siempre que la legislación
  vigente no establezca lo contrario, a obtener la supresión de sus datos
  personales cuando estos ya no sean necesarios para los fines para los cuales
  fueron recogidos o tratados; el Usuario haya retirado su consentimiento al
  tratamiento y este no cuente con otra base legal; el Usuario se oponga al
  tratamiento y no exista otro motivo legítimo para continuar con el mismo; los
  datos personales hayan sido tratados ilícitamentemente; los datos personales
  deban suprimirse en cumplimiento de una obligación legal; o los datos
  personales hayan sido obtenidos producto de una oferta directa de servicios de
  la sociedad de la información a un menor de 14 años. Además de suprimir los
  datos, el Responsable del tratamiento, teniendo en cuenta la tecnología
  disponible y el coste de su aplicación, deberá adoptar medidas razonables para
  informar a los responsables que estén tratando los datos personales de la
  solicitud del interesado de supresión de cualquier enlace a esos datos
  personales. Derecho a la limitación del tratamiento: Es el derecho del Usuario
  a limitar el tratamiento de sus datos personales. El Usuario tiene derecho a
  obtener la limitación del tratamiento cuando impugne la exactitud de sus datos
  personales; el tratamiento sea ilícito; el Responsable del tratamiento ya no
  necesite los datos personales, pero el Usuario lo necesite para hacer
  reclamaciones; y cuando el Usuario se haya opuesto al tratamiento. Derecho a
  la portabilidad de los datos: En caso de que el tratamiento se efectúe por
  medios automatizados, el Usuario tendrá derecho a recibir del Responsable del
  tratamiento sus datos personales en un formato estructurado, de uso común y
  lectura mecánica, y a transmitirlos a otro responsable del tratamiento.
  Siempre que sea técnicamente posible, el Responsable del tratamiento
  transmitirá directamente los datos a ese otro responsable. Derecho de
  oposición: Es el derecho del Usuario a que no se lleve a cabo el tratamiento
  de sus datos de carácter personal o se cese el tratamiento de los mismos por
  parte de Fut-Data. Derecho a no ser a no ser objeto de una decisión basada
  únicamente en el tratamiento automatizado, incluida la elaboración de
  perfiles: Es el derecho del Usuario a no ser objeto de una decisión
  individualizada basada únicamente en el tratamiento automatizado de sus datos
  personales, incluida la elaboración de perfiles, existente salvo que la
  legislación vigente establezca lo contrario. Así pues, el Usuario podrá
  ejercitar sus derechos mediante comunicación escrita dirigida al Responsable
  del tratamiento con la referencia "RGPD-www.fut-data.com", especificando:
  Nombre, apellidos del Usuario y copia del DNI. En los casos en que se admita
  la representación, será también necesaria la identificación por el mismo medio
  de la persona que representa al Usuario, así como el documento acreditativo de
  la representación. La fotocopia del DNI podrá ser sustituida, por cualquier
  otro medio válido en derecho que acredite la identidad. Petición con los
  motivos específicos de la solicitud o información a la que se quiere acceder.
  Domicilio a efecto de notificaciones. Fecha y firma del solicitante. Todo
  documento que acredite la petición que formula. Esta solicitud y todo otro
  documento adjunto podrá enviarse a la siguiente dirección y/o correo
  electrónico: Dirección postal: Barcelona Correo electrónico:
  alexperis95@gmail.com

  <h3>Enlaces a sitios web de terceros</h3>
  El Sitio Web puede incluir hipervínculos o enlaces que permiten acceder a
  páginas web de terceros distintos de Fut-Data, y que por tanto no son operados
  por Fut-Data. Los titulares de dichos sitios web dispondrán de sus propias
  políticas de protección de datos, siendo ellos mismos, en cada caso,
  responsables de sus propios ficheros y de sus propias prácticas de privacidad.

  <h3>Reclamaciones ante la autoridad de control</h3>
  En caso de que el Usuario considere que existe un problema o infracción de la
  normativa vigente en la forma en la que se están tratando sus datos
  personales, tendrá derecho a la tutela judicial efectiva y a presentar una
  reclamación ante una autoridad de control, en particular, en el Estado en el
  que tenga su residencia habitual, lugar de trabajo o lugar de la supuesta
  infracción. En el caso de España, la autoridad de control es la Agencia
  Española de Protección de Datos (http://www.agpd.es).

  <h2>II. ACEPTACIÓN Y CAMBIOS EN ESTA POLÍTICA DE PRIVACIDAD</h2>
  Es necesario que el Usuario haya leído y esté conforme con las condiciones
  sobre la protección de datos de carácter personal contenidas en esta Política
  de Privacidad, así como que acepte el tratamiento de sus datos personales para
  que el Responsable del tratamiento pueda proceder al mismo en la forma,
  durante los plazos y para las finalidades indicadas. El uso del Sitio Web
  implicará la aceptación de la Política de Privacidad del mismo. Fut-Data se
  reserva el derecho a modificar su Política de Privacidad, de acuerdo a su
  propio criterio, o motivado por un cambio legislativo, jurisprudencial o
  doctrinal de la Agencia Española de Protección de Datos. Los cambios o
  actualizaciones de esta Política de Privacidad no serán notificados de forma
  explícita al Usuario. Se recomienda al Usuario consultar esta página de forma
  periódica para estar al tanto de los últimos cambios o actualizaciones. Esta
  Política de Privacidad fue actualizada para adaptarse al Reglamento (UE)
  2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016,
  relativo a la protección de las personas físicas en lo que respecta al
  tratamiento de datos personales y a la libre circulación de estos datos (RGPD)
  y a la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos
  Personales y garantía de los derechos digitales. Este documento de Política de
  Privacidad de un sitio web ha sido creado mediante el generador de plantilla
  de política de privacidad online el día 01/07/2021.
</mat-card>

<!-- AVISO LEGAL -->
<mat-card>
  <h1>AVISO LEGAL Y CONDICIONES GENERALES DE USO</h1>
  <h3>www.fut-data-com</h3>
  <h2>I. INFORMACIÓN GENERAL</h2>
  En cumplimiento con el deber de información dispuesto en la Ley 34/2002 de
  Servicios de la Sociedad de la Información y el Comercio Electrónico (LSSI-CE)
  de 11 de julio, se facilitan a continuación los siguientes datos de
  información general de este sitio web: La titularidad de este sitio web,
  www.fut-data-com, (en adelante, Sitio Web) la ostenta: Alex Peris, con NIF:
  47917683N, y cuyos datos de contacto son: Dirección: Barcelona Teléfono de
  contacto: 650979610 Email de contacto: alexperis05@gmail.com

  <h2>II. TÉRMINOS Y CONDICIONES GENERALES DE USO</h2>
  <h3>El objeto de las condiciones: El Sitio Web</h3>
  El objeto de las presentes Condiciones Generales de Uso (en adelante,
  Condiciones) es regular el acceso y la utilización del Sitio Web. A los
  efectos de las presentes Condiciones se entenderá como Sitio Web: la
  apariencia externa de los interfaces de pantalla, tanto de forma estática como
  de forma dinámica, es decir, el árbol de navegación; y todos los elementos
  integrados tanto en los interfaces de pantalla como en el árbol de navegación
  (en adelante, Contenidos) y todos aquellos servicios o recursos en línea que
  en su caso ofrezca a los Usuarios (en adelante, Servicios). Fut-data se
  reserva la facultad de modificar, en cualquier momento, y sin aviso previo, la
  presentación y configuración del Sitio Web y de los Contenidos y Servicios que
  en él pudieran estar incorporados. El Usuario reconoce y acepta que en
  cualquier momento Fut-data pueda interrumpir, desactivar y/o cancelar
  cualquiera de estos elementos que se integran en el Sitio Web o el acceso a
  los mismos. El acceso al Sitio Web por el Usuario tiene carácter libre y, por
  regla general, es gratuito sin que el Usuario tenga que proporcionar una
  contraprestación para poder disfrutar de ello, salvo en lo relativo al coste
  de conexión a través de la red de telecomunicaciones suministrada por el
  proveedor de acceso que hubiere contratado el Usuario. La utilización de
  alguno de los Contenidos o Servicios del Sitio Web podrá hacerse mediante la
  suscripción o registro previo del Usuario.

  <h3>El Usuario</h3>
  El acceso, la navegación y uso del Sitio Web, confiere la condición de
  Usuario, por lo que se aceptan, desde que se inicia la navegación por el Sitio
  Web, todas las Condiciones aquí establecidas, así como sus ulteriores
  modificaciones, sin perjuicio de la aplicación de la correspondiente normativa
  legal de obligado cumplimiento según el caso. Dada la relevancia de lo
  anterior, se recomienda al Usuario leerlas cada vez que visite el Sitio Web.
  El Sitio Web de Fut-data proporciona gran diversidad de información, servicios
  y datos. El Usuario asume su responsabilidad para realizar un uso correcto del
  Sitio Web. Esta responsabilidad se extenderá a: Un uso de la información,
  Contenidos y/o Servicios y datos ofrecidos por Fut-data sin que sea contrario
  a lo dispuesto por las presentes Condiciones, la Ley, la moral o el orden
  público, o que de cualquier otro modo puedan suponer lesión de los derechos de
  terceros o del mismo funcionamiento del Sitio Web. La veracidad y licitud de
  las informaciones aportadas por el Usuario en los formularios extendidos por
  Fut-data para el acceso a ciertos Contenidos o Servicios ofrecidos por el
  Sitio Web. En todo caso, el Usuario notificará de forma inmediata a Fut-data
  acerca de cualquier hecho que permita el uso indebido de la información
  registrada en dichos formularios, tales como, pero no sólo, el robo, extravío,
  o el acceso no autorizado a identificadores y/o contraseñas, con el fin de
  proceder a su inmediata cancelación. El mero acceso a este Sitio Web no supone
  entablar ningún tipo de relación de carácter comercial entre Fut-data y el
  Usuario. Siempre en el respeto de la legislación vigente, este Sitio Web de
  Fut-data se dirige a todas las personas, sin importar su edad, que puedan
  acceder y/o navegar por las páginas del Sitio Web.

  <h2>
    III. ACCESO Y NAVEGACIÓN EN EL SITIO WEB: EXCLUSIÓN DE GARANTÍAS Y
    RESPONSABILIDAD
  </h2>
  Fut-data no garantiza la continuidad, disponibilidad y utilidad del Sitio Web,
  ni de los Contenidos o Servicios. Fut-data hará todo lo posible por el buen
  funcionamiento del Sitio Web, sin embargo, no se responsabiliza ni garantiza
  que el acceso a este Sitio Web no vaya a ser ininterrumpido o que esté libre
  de error. Tampoco se responsabiliza o garantiza que el contenido o software al
  que pueda accederse a través de este Sitio Web, esté libre de error o cause un
  daño al sistema informático (software y hardware) del Usuario. En ningún caso
  Fut-data será responsable por las pérdidas, daños o perjuicios de cualquier
  tipo que surjan por el acceso, navegación y el uso del Sitio Web,
  incluyéndose, pero no limitándose, a los ocasionados a los sistemas
  informáticos o los provocados por la introducción de virus. Fut-data tampoco
  se hace responsable de los daños que pudiesen ocasionarse a los usuarios por
  un uso inadecuado de este Sitio Web. En particular, no se hace responsable en
  modo alguno de las caídas, interrupciones, falta o defecto de las
  telecomunicaciones que pudieran ocurrir.

  <h2>IV. POLÍTICA DE ENLACES</h2>
  Fut-data no ofrece ni comercializa por sí ni por medio de terceros los
  productos y/o servicios disponibles en dichos sitios enlazados. El Usuario o
  tercero que realice un hipervínculo desde una página web de otro, distinto,
  sitio web al Sitio Web de Fut-data deberá saber que: No se permite la
  reproducción —total o parcialmente— de ninguno de los Contenidos y/o Servicios
  del Sitio Web sin autorización expresa de Fut-data. No se permite tampoco
  ninguna manifestación falsa, inexacta o incorrecta sobre el Sitio Web de
  Fut-data, ni sobre los Contenidos y/o Servicios del mismo. A excepción del
  hipervínculo, el sitio web en el que se establezca dicho hiperenlace no
  contendrá ningún elemento, de este Sitio Web, protegido como propiedad
  intelectual por el ordenamiento jurídico español, salvo autorización expresa
  de Fut-data. El establecimiento del hipervínculo no implicará la existencia de
  relaciones entre Fut-data y el titular del sitio web desde el cual se realice,
  ni el conocimiento y aceptación de Fut-data de los contenidos, servicios y/o
  actividades ofrecidos en dicho sitio web, y viceversa.

  <h2>V. PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
  Fut-data por sí o como parte cesionaria, es titular de todos los derechos de
  propiedad intelectual e industrial del Sitio Web, así como de los elementos
  contenidos en el mismo (a título enunciativo y no exhaustivo, imágenes,
  sonido, audio, vídeo, software o textos, marcas o logotipos, combinaciones de
  colores, estructura y diseño, selección de materiales usados, programas de
  ordenador necesarios para su funcionamiento, acceso y uso, etc.). Serán, por
  consiguiente, obras protegidas como propiedad intelectual por el ordenamiento
  jurídico español, siéndoles aplicables tanto la normativa española y
  comunitaria en este campo, como los tratados internacionales relativos a la
  materia y suscritos por España. Todos los derechos reservados. En virtud de lo
  dispuesto en la Ley de Propiedad Intelectual, quedan expresamente prohibidas
  la reproducción, la distribución y la comunicación pública, incluida su
  modalidad de puesta a disposición, de la totalidad o parte de los contenidos
  de esta página web, con fines comerciales, en cualquier soporte y por
  cualquier medio técnico, sin la autorización de Fut-data. El Usuario se
  compromete a respetar los derechos de propiedad intelectual e industrial de
  Fut-data. Podrá visualizar los elementos del Sitio Web o incluso imprimirlos,
  copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier otro
  soporte físico siempre y cuando sea, exclusivamente, para su uso personal. El
  Usuario, sin embargo, no podrá suprimir, alterar, o manipular cualquier
  dispositivo de protección o sistema de seguridad que estuviera instalado en el
  Sitio Web. En caso de que el Usuario o tercero considere que cualquiera de los
  Contenidos del Sitio Web suponga una violación de los derechos de protección
  de la propiedad intelectual, deberá comunicarlo inmediatamente a Fut-data a
  través de los datos de contacto del apartado de INFORMACIÓN GENERAL de este
  Aviso Legal y Condiciones Generales de Uso.

  <h2>VI. ACCIONES LEGALES, LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h2>
  Fut-data se reserva la facultad de presentar las acciones civiles o penales
  que considere necesarias por la utilización indebida del Sitio Web y
  Contenidos, o por el incumplimiento de las presentes Condiciones. La relación
  entre el Usuario y Fut-data se regirá por la normativa vigente y de aplicación
  en el territorio español. De surgir cualquier controversia en relación con la
  interpretación y/o a la aplicación de estas Condiciones las partes someterán
  sus conflictos a la jurisdicción ordinaria sometiéndose a los jueces y
  tribunales que correspondan conforme a derecho. Este documento de Aviso Legal
  y Condiciones Generales de uso del sitio web ha sido creado mediante el
  generador de plantilla de aviso legal y condiciones de uso online el día
  16/07/2021.
</mat-card>

<!-- COOKIES -->
<mat-card>
  <h1>Política de Cookies</h1>
  En esta web se utilizan cookies de terceros y propias para conseguir que
  tengas una mejor experiencia de navegación, puedas compartir contenido en
  redes sociales y para que podamos obtener estadísticas de los usuarios. Puedes
  evitar la descarga de cookies a través de la configuración de tu navegador,
  evitando que las cookies se almacenen en su dispositivo. Como propietario de
  este sitio web, te comunico que no utilizamos ninguna información personal
  procedente de cookies, tan sólo realizamos estadísticas generales de visitas
  que no suponen ninguna información personal. Es muy importante que leas la
  presente política de cookies y comprendas que, si continúas navegando,
  consideraremos que aceptas su uso. Según los términos incluidos en el artículo
  22.2 de la Ley 34/2002 de Servicios de la Sociedad de la Información y
  Comercio Electrónico, si continúas navegando, estarás prestando tu
  consentimiento para el empleo de los referidos mecanismos.

  <h2>Entidad Responsable</h2>
  La entidad responsable de la recogida, procesamiento y utilización de tus
  datos personales, en el sentido establecido por la Ley de Protección de Datos
  Personales es la página Fut-Data, propiedad de Alex Peris – Barcelona.

  <h2>¿Qué son las cookies?</h2>
  Las cookies son un conjunto de datos que un servidor deposita en el navegador
  del usuario para recoger la información de registro estándar de Internet y la
  información del comportamiento de los visitantes en un sitio web. Es decir, se
  trata de pequeños archivos de texto que quedan almacenados en el disco duro
  del ordenador y que sirven para identificar al usuario cuando se conecta
  nuevamente al sitio web. Su objetivo es registrar la visita del usuario y
  guardar cierta información. Su uso es común y frecuente en la web ya que
  permite a las páginas funcionar de manera más eficiente y conseguir una mayor
  personalización y análisis sobre el comportamiento del usuario.

  <h2>¿Qué tipos de cookies existen?</h2>
  Las cookies utilizadas en nuestro sitio web, son de sesión y de terceros, y
  nos permiten almacenar y acceder a información relativa al idioma, el tipo de
  navegador utilizado, y otras características generales predefinidas por el
  usuario, así como, seguir y analizar la actividad que lleva a cabo, con el
  objeto de introducir mejoras y prestar nuestros servicios de una manera más
  eficiente y personalizada. Las cookies, en función de su permanencia, pueden
  dividirse en cookies de sesión o permanentes. Las que expiran cuando el
  usuario cierra el navegador. Las que expiran en función de cuando se cumpla el
  objetivo para el que sirven (por ejemplo, para que el usuario se mantenga
  identificado en los servicios de Alex Peris) o bien cuando se borran
  manualmente. Nombre Tipo Caducidad Finalidad Clase __utma De Terceros (Google
  Analytics) 2 años Se usa para distinguir usuarios y sesiones. No Exenta __utmb
  De Terceros (Google Analytics) 30 minutos Se usa para determinar nuevas
  sesiones o visitas No Exenta __utmc De Terceros (Google Analytics) Al
  finalizar la sesión Se configura para su uso con Urchin No Exenta __utmz De
  Terceros (Google Analytics) 6 meses Almacena el origen o la campaña que
  explica cómo el usuario ha llegado hasta la página web No Exenta
  Adicionalmente, en función de su objetivo, las cookies pueden clasificarse de
  la siguiente forma:

  <h2>Cookies de rendimiento</h2>
  Este tipo de Cookie recuerda sus preferencias para las herramientas que se
  encuentran en los servicios, por lo que no tiene que volver a configurar el
  servicio cada vez que usted visita. A modo de ejemplo, en esta tipología se
  incluyen: Ajustes de volumen de reproductores de vídeo o sonido. Las
  velocidades de transmisión de vídeo que sean compatibles con su navegador. Los
  objetos guardados en el “carrito de la compra” en los servicios de e-commerce
  tales como tiendas.

  <h2>Cookies de geo-localización</h2>
  Estas cookies son utilizadas para averiguar en qué país se encuentra cuando se
  solicita un servicio. Esta cookie es totalmente anónima, y sólo se utiliza
  para ayudar a orientar el contenido a su ubicación.

  <h2>Cookies de registro</h2>
  Las cookies de registro se generan una vez que el usuario se ha registrado o
  posteriormente ha abierto su sesión, y se utilizan para identificarle en los
  servicios con los siguientes objetivos: Mantener al usuario identificado de
  forma que, si cierra un servicio, el navegador o el ordenador y en otro
  momento u otro día vuelve a entrar en dicho servicio, seguirá identificado,
  facilitando así su navegación sin tener que volver a identificarse. Esta
  funcionalidad se puede suprimir si el usuario pulsa la funcionalidad [cerrar
  sesión], de forma que esta cookie se elimina y la próxima vez que entre en el
  servicio el usuario tendrá que iniciar sesión para estar identificado.
  Comprobar si el usuario está autorizado para acceder a ciertos servicios, por
  ejemplo, para participar en un concurso. Adicionalmente, algunos servicios
  pueden utilizar conectores con redes sociales tales como Facebook o Twitter.
  Cuando el usuario se registra en un servicio con credenciales de una red
  social, autoriza a la red social a guardar una Cookie persistente que recuerda
  su identidad y le garantiza acceso a los servicios hasta que expira. El
  usuario puede borrar esta Cookie y revocar el acceso a los servicios mediante
  redes sociales actualizando sus preferencias en la red social que específica.

  <h2>Cookies de analíticas</h2>
  Cada vez que un usuario visita un servicio, una herramienta de un proveedor
  externo genera una cookie analítica en el ordenador del usuario. Esta cookie
  que sólo se genera en la visita, servirá en próximas visitas a los servicios
  de Alex Peris para identificar de forma anónima al visitante. Los objetivos
  principales que se persiguen son: Permitir la identificación anónima de los
  usuarios navegantes a través de la cookie (identifica navegadores y
  dispositivos, no personas) y por lo tanto la contabilización aproximada del
  número de visitantes y su tendencia en el tiempo. Identificar de forma anónima
  los contenidos más visitados y por lo tanto más atractivos para los usuarios
  Saber si el usuario que está accediendo es nuevo o repite visita. Importante:
  Salvo que el usuario decida registrarse en un servicio de Alex Peris, la
  cookie nunca irá asociada a ningún dato de carácter personal que pueda
  identificarle. Dichas cookies sólo serán utilizadas con propósitos
  estadísticos que ayuden a la optimización de la experiencia de los usuarios en
  el sitio.

  <h2>Cookies de publicidad</h2>
  Este tipo de cookies permiten ampliar la información de los anuncios mostrados
  a cada usuario anónimo en los servicios de Alex Peris. Entre otros, se
  almacena la duración o frecuencia de visualización de posiciones
  publicitarias, la interacción con las mismas, o los patrones de navegación y/o
  comportamientos del usuario ya que ayudan a conformar un perfil de interés
  publicitario. De este modo, permiten ofrecer publicidad afín a los intereses
  del usuario.

  <h2>Cookies publicitarias de terceros</h2>
  Además de la publicidad gestionada por las webs de Alex Peris en sus
  servicios, las webs de Alex Peris ofrecen a sus anunciantes la opción de
  servir anuncios a través de terceros (“Ad-Servers”). De este modo, estos
  terceros pueden almacenar cookies enviadas desde los servicios de Alex Peris
  procedentes de los navegadores de los usuarios, así como acceder a los datos
  que en ellas se guardan. Las empresas que generan estas cookies tienen sus
  propias políticas de privacidad. En la actualidad, las webs de Alex Peris
  utilizan la plataforma Doubleclick (Google) para gestionar estos servicios.
  Para más información, acuda a
  http://www.google.es/policies/privacy/ads/#toc-doubleclick y a
  http://www.google.es/policies/privacy/ads/.

  <h2>¿Cómo puedo deshabilitar las cookies en mi navegador?</h2>
  Se pueden configurar los diferentes navegadores para avisar al usuario de la
  recepción de cookies y, si se desea, impedir su instalación en el equipo.
  Asimismo, el usuario puede revisar en su navegador qué cookies tiene
  instaladas y cuál es el plazo de caducidad de las mismas, pudiendo
  eliminarlas. Para ampliar esta información consulte las instrucciones y
  manuales de su navegador: Para más información sobre la administración de las
  cookies en Google Chrome: https://support.google.com/chrome/answer/95647?hl=es
  Para más información sobre la administración de las cookies en Internet
  Explorer:
  http://windows.microsoft.com/es-es/windows-vista/cookies-frequently-asked-questions
  Para más información sobre la administración de las cookies en Mozilla
  Firefox:
  http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we
  Para más información sobre la administración de las cookies en Safari:
  http://www.apple.com/es/privacy/use-of-cookies/ Para más información sobre la
  administración de las cookies en Opera:
  http://help.opera.com/Windows/11.50/es-ES/cookies.html Si desea dejar de ser
  seguido por Google Analytics visite: http://tools.google.com/dlpage/gaoptout

  <h2>Para saber más sobre las cookies</h2>
  Puede obtener más información sobre la publicidad online basada en el
  comportamiento y la privacidad online en el siguiente enlace:
  http://www.youronlinechoices.com/es/ Protección de datos de Google Analytics:
  http://www.google.com/analytics/learn/privacy.html Cómo usa Google Analytics
  las cookies:
  https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es#analyticsjs

  <h2>Actualizaciones y cambios en la política de privacidad/cookies</h2>
  Las webs de Alex Peris pueden modificar esta Política de Cookies en función de
  exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha
  política a las instrucciones dictadas por la Agencia Española de Protección de
  Datos, por ello se aconseja a los usuarios que la visiten periódicamente.
  Cuando se produzcan cambios significativos en esta Política de Cookies, estos
  se comunicarán a los usuarios bien mediante la web o a través de correo
  electrónico a los usuarios registrados.
</mat-card>
