@import "../../../styles.scss";

.image{
    width: 64px !important;
    height: 64px !important;
    .is-rounded{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

mat-card{
    width: 95%;
    margin: 5% auto -10px;
    display: grid;
    justify-content: space-between;
    border: 1px solid rgb(0 0 0 / 5%);
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%) !important;
    border-radius: 15px;
    grid-template-columns: 20% 80%;
    max-height: 120px;
    height: 15%;
        .image{
            display: flex;
            flex-direction: column;
            span{
                text-align: center;
            }
        }
        .data{
            display: flex;
            justify-content: space-around;
            height: 100%;
            align-items: center;
            transform: translateX(33px);
            div{
                font-size: 20px;
                font-weight: 700;
                color: $bluePrimary;
            }
        }
}
